<!doctype html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ArcMusic</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/" style="margin-left: 1%;">
      <img src="{{ url_for('static', filename='img/icon.png')}}" width="50px" style="margin-right: 5%"> ArcMusic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloader">Youtube Donwloader</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-downloader">List Download</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="text-center mt-4">
      <div style="margin-top: 5%;">
        <h1 style="font-family: Helvetica, sans-serif; color: Black; margin-bottom: 0.8%; font-size: 4rem;">404</h1>
        <h2 style="font-family: Helvetica, sans-serif; color: Black; margin-bottom: 3.5%;">Página não encontrada...</h2>
        <a href="{{ url_for('home') }}"><button class="button-17" role="button">Voltar</button></a>
      </div>
    </div>
</body>
</html>