<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Youtube Video Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/" style="margin-left: 1%;">
      <img src="{{ url_for('static', filename='img/icon.png')}}" width="50px" style="margin-right: 5%"> ArcMusic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/downloader">Youtube Donwloader</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-downloader">List Download</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/video-downloader">Video Download</a>
      </li>
    </ul>
  </div>
</nav>
    <h1 class="text-center mb-2" style="margin-top: 2.5%">Video Downloader</h1>
    <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <form method="POST">
                  <div class="form-group" style="margin-top: 2%; margin-bottom: 5%;">
                     <input type="text" name="link"  class="form-control my-input" placeholder="Link aqui!" >
                  </div>
                  <div class="form-group">

                     <input class="btn btn-block g-button" type="submit" value="Baixar .mp4" onclick="Show()">
                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <div class="mt-4 alert alert-danger" role="alert">
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                        </div>
                      {% endif %}
                    {% endwith %}
                  </div>
                   <div class="d-flex justify-content-center align-items-center">
                       <div class="mt-2 loader" style="visibility: hidden;"></div>
                   </div>
               </form>
            </div>
         </div>
    </div>
</body>
<script>
function Show(){
document.getElementsByClassName('mt-2 loader')[0].style.visibility = 'visible';
document.getElementByClassName('alert-danger')[0].style.visibility = 'hidden';
}

function Hide(){

}
</script>
</html>